body {
  background-color: lightgray;
}

section {
  background-color: gray;
  margin: 0 auto;
  max-width: 10000px;
}

footer {
  background-color: moccasin;
  clear: both;
  padding: 1rem;
}

.first, .second {
  box-sizing: border-box;
  float: left;
  padding: 1rem;
  margin: 0;
}

.first {
  background-color: yellow;
  width: 70%;
}

.second {
  background-color: lightgreen;
  width: 30%;
}