*, html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Helvetica Black, sans-serif;
  background-color: white;
  border: 2px solid black;
  box-sizing: border-box;
  margin: 5px;
  padding: 5px;
  width: 360px;
}

h1 {
  font-family: Franklin Gothic Heavy, sans-serif;
  font-size: 45px;
  letter-spacing: 0.5px;
  line-height: 2.7rem;
}

main p:first-child {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5rem;
}

main table {
  width: 100%;
  border-collapse: collapse;
}

main dl {
  width: 100%;
}

main dl dt {
  display: inline-block;
}

main dl dd {
  display: inline-block;
  width: 47%;
}

footer table {
  font-size: 12px;
  border-collapse: collapse;
  width: 100%;
}

.thick-underline {
  border-bottom: 15px solid black;
}

.thin-underline {
  border-bottom: 8px solid black;
}

.medium-underline {
  border-bottom: 12px solid black;
}

.border-top {
  border-top: 1px solid black;
}

.center-aligned {
  text-align: center;
}

.left-aligned {
  text-align: left;
}

.right-aligned {
  text-align: right;
}

.indented {
  width: 6%;
}

.note {
  font-size: 13px;
  padding: 10px;
}